<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Home</h1>
  <form action="/posts" method="GET"><button type="submit">Go to posts</button></form>
  <form action="/users" method="GET"><button type="submit">Go to users</button></form>
</body>
</html>